<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle Poll</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <header><h1>Hello Pollers!</h1></header>
    <form action="/create">
      <input type="text" id="event" name="event_name"><br>
      <input type="submit" value="Create Schoodle Poll">
    </form>
  </body>
</html>
