body {
  background-image: url("/images/background-schooodle.png");
  background-color: rgba(211, 211, 211, 0.3);

  nav.navbar {
    a {
      color: white !important;
    }
  }

  .btnShouldBeCenterAndALittleBitUp {
    text-align: center;
    padding: 0.6rem 0rem;
  }

  .weWantItRounded {
    border-radius: 0.5rem;
    border-style: solid;
    border-color: rgb(0, 162, 182);
  }

  .andWeWantedBlue {
    background-color: rgba(0, 127, 197, 1)
  }

  .aLittleBitDown {
    margin: 70px 10px 0px 10px;
  }

  .weWantTheFontSizeSmaller {
    font-size: 1rem;
  }

  h1 {
    color: #244751;
  }
}
